@using ServiceMadeEasy.In.Models;
@{
//List<Package> packages = null;
//using (ApplicationDbContext context = new ApplicationDbContext())
//{
//   // packages = context.Packages.ToList();
//}

}
<div class="container-fluid container-fullw bg-white">
    <div class="row">
      
    </div>
</div>